<div class='container'>

  <div class='row justify-content-center'>
    <div class='col-md-6 d-flex flex-column align-items-center'>

      <h1 class='text-justify'>{{siteTitle}}</h1>
      <p>Waiting for the Stars to align... Get your Tarot reading for free!</p>

      <hr>
      

    </div>
  </div>
</div>