<div class='container'>

  <div class='row justify-content-center text-centered'>
    <div class='col-md-6 d-flex flex-column align-items-center'>

      <h4>Here you can Chage, Modify and/or Create all CRUDS</h4> &#128540
    
    <a href='/admin/user-list' class='btn btn-info'>Users</a>
    <br>
    <a href='#' class='btn btn-info'>Cards</a>
    <br>
    <a href='#' class='btn btn-info'>Forum</a>

    </div>
  </div>
</div>