<div class="container">
    <h2><strong>{{username}}</strong></h2>
    <br>
    <img src="{{avatar}}" alt="{{username}}">
    <br>
    <hr>
    <h5>Reading History</h5>
    <p>{{history}}</p>

    <hr>
    
    
    

   
<br>

    <a href="/" class="btn btn-dark">Home</a>
</div>