@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=IM+Fell+English+SC&family=Prata&display=swap');

#errorMessage {
  background-color: rgb(255, 202, 202);
  width: 400px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  text-align: center;
  animation: showFromBottom 6s forwards;
}

body {
  font-family: 'Bona Nova', serif;
  font-size: 17px;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: 'IM Fell English SC', serif;
}

.keywords {
  font-family: 'IM Fell English SC', serif;
  font-size: 20px;
}

main {
  margin-top: 40px;
}

nav {
  background-color: #1c0038;
  color: #ffe851;
}

li {
  list-style-type: none;
}

/* .cardImage {
  height: 30%;
  width: 30%;
} */

@keyframes showFromBottom {
  0% {
    bottom: -50px;
  }

  10% {
    bottom: 10px;
  }

  90% {
    bottom: 10px;
  }

  100% {
    bottom: -50px;
  }
}

/* 
font-family: 'Bona Nova', serif;
font-family: 'IM Fell English SC', serif;
font-family: 'Prata', serif;

Color de texto
#FFE851

Color de fondo
#1C0038 */
