@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=IM+Fell+English+SC&family=Prata&family=Varela&display=swap');

#errorMessage {
  background-color: rgb(248, 6, 6);
  width: 400px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  text-align: center;
  animation: showFromBottom 6s forwards;
}

body {
  font-family: 'Bona Nova', serif;
  font-size: 17px;
  background-color: #feffaa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IM Fell English SC', serif;
  text-align: center;
}

.text-centered {
  text-align: center;
}

nav {
  font-family: 'IM Fell English SC', serif;
  background-color: #1c0038;
}

.btn-purple {
  background-color: #1c0038;
  color: #ffffff;
}

.dropdown-menu.btn-purple {
  background-color: #1c0038;
  color: #ffffff;
}
.dropdown-item.btn-purple {
  background-color: #1c0038;
  color: #ffffff;
}

.dropdown-item.btn-purple:hover {
  color: #ce9eff;
  text-decoration: none;
}
.page-link.btn-purple:hover {
  color: #400080;
  text-decoration: none;
  background-color: #ce9eff;
}

a:hover,
.btn-purple:hover,
.btn:hover,
.btn-block:hover {
  color: #ce9eff;
  text-decoration: none;
}

a {
  color: #400080;
}

a:hover {
  color: #8000ff;
  text-decoration: none;
}

.keywords {
  font-family: 'IM Fell English SC', serif;
  font-size: 21px;
}

.forum-avatar {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-avatar {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

main {
  margin-top: 40px;
  margin-bottom: 40px;
}

li {
  list-style-type: none;
}

.card {
  background-color: transparent;
  border-width: 0px;
}

.card-image {
  border-radius: 3%;
  object-fit: contain;
}

.card-image-main {
  border-radius: 3%;
  height: 350px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  animation: cardMain 1s ease 0.5s 1 normal none;
}

.card-image-reading {
  border-radius: 3%;
  height: 250px;
  width: 143px;
  margin-bottom: 20px;
  animation: cardMain 1s ease 0.5s 1 normal none;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #1c0038;
  font-size: 0.7em;
  font-family: 'Varela', sans-serif;
  color: white;
  padding: 4px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer a {
  color: #ffffff;
}

footer a:hover {
  color: #ce9eff;
  text-decoration: none;
}

@keyframes cardMain {
  0.0% {
  }
  3.2% {
    transform: scale(1.1);
  }
}

@keyframes showFromBottom {
  0% {
    bottom: -50px;
  }

  10% {
    bottom: 50px;
  }

  90% {
    bottom: 50px;
  }

  100% {
    bottom: -50px;
  }
}

/* 
font-family: 'Bona Nova', serif;
font-family: 'IM Fell English SC', serif;
font-family: 'Prata', serif;


/* 
Color de texto
#FFE851

Color de fondo
#1C0038 */
