<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-md-6 d-flex flex-column align-items-center'>
     <h1>Our cards database</h2>
    </div>
  </div>

  <hr />

  <div class='row'>
    {{#each cards}}
      <div class='col-12 col-md-2'>
        <a class='card-database' href='/cards/details/{{id}}'>
        <div class='card image-card'>
          <img
          class='card-image img-fluid'
            src='{{uprightImage}}'
            class='card-img-top'
            alt='{{name}}'
          />
          <div class='card-body'>
       
            <h5 class='card-title'>
             {{name}}
            </h5>
          </div>
        </div>
      </div></a>
    {{/each}}
  </div>
</div>